.popup {
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
}

@media screen and (max-width: 499px) {
  .popup {
    top: 30px;
  }
}
