.page {
  background-color: #000;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
}

.header {
  max-width: 880px;
  margin: 45px auto 40px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
}

@media screen and (max-width: 799px) {
  .header {
    margin-top: 28px;
    margin-bottom: 38.25px;
  }
}

.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 999px) {
  .header__logo {
    margin: 0 auto 0 27px;
  }
}

@media screen and (max-width: 499px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}

.profile {
  max-width: 880px;
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 999px) {
  .profile {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 799px) {
  .profile {
    margin-bottom: 36px;
  }
}

.profile__info {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: flex-start;
  align-items: center;
  grid-template-areas:
    "name edit-button"
    "about about";
  align-self: center;
  margin-left: 30px;
  row-gap: 16px;
  column-gap: 18px;
  box-sizing: border-box;
}

@media screen and (max-width: 999px) {
  .profile__info {
    margin-left: 0;
  }
}

@media screen and (max-width: 799px) {
  .profile__info {
    row-gap: 14px;
    column-gap: 10px;
  }
}

.profile__avatar {
  border-radius: 50%;
}

@media screen and (max-width: 999px) {
  .profile__avatar {
    margin-bottom: 22.25px;
  }
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #fff;
  margin: 0;
  padding: 0;
  grid-area: name;
  max-height: 39px;
}

@media screen and (max-width: 799px) {
  .profile__title {
    font-size: 27px;
    line-height: 1.18;
  }
}

.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  grid-area: about;
}

@media screen and (max-width: 999px) {
  .profile__subtitle {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px
  }
}

@media screen and (max-width: 799px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 1.2;

  }
}


.profile__edit-button {
  background-image: url(./images/index.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 24px;
  min-height: 24px;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0;
  margin: 0;
  grid-area: edit-button;
  align-self: flex-end;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 799px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
    align-self: center;
  }
}

.profile__add-button {
  background-image: url(./images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  min-width: 150px;
  min-height: 50px;
  padding: 0;
  margin-left: auto;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 999px) {
  .profile__add-button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 799px) {
  .profile__add-button {
    min-width: 282px;
  }
}

.elements {
  margin-bottom: 67px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 799px) {
  .elements {
    margin-bottom: 48px;
  }
}

.elements__table {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  column-gap: 17px;
  row-gap: 20px;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 999px) {
  .elements__table {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 599px) {
  .elements__table {
    grid-template-columns: 282px;
  }
}

.elements__card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 361px;
}

.elements__image {
  width: 100%;
  height: 282px;
}

.elements__undercut {
  display: flex;
  padding: 25px 21px 31px;
  justify-content: space-between;
  align-items: center;
}

.elements__card-heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__like-button {
  background-image: url(./images/heart.svg);
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  min-width: 22px;
  min-height: 19px;
  margin-left: 20px;
}

.elements__like-button:hover {
  opacity: 0.5;
}

.elements__like-button:active {
  background-image: url(./images/black\ heart.svg);
}

.footer {
  max-width: 880px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 999px) {
  .footer {
    max-width: 282px;
    text-align: center;
  }
}

@media screen and (max-width: 499px) {
  .footer {
    text-align: start;
    margin-bottom: 36px;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(84, 84, 84, 1);
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.popup__container {
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}

.popup__close-button {
  position: relative;
  min-height: 32px;
  min-width: 32px;
  left: 100%;
  bottom: 40px;
  border: none;
  background-image: url(./images/Close\ Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 34px 36px 54px;
}

.popup__form {
  padding: 0;
  border: none;
  max-width: 430px;
  margin: 0 36px 37px;
}

.popup__input {
  min-height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

.popup__submit-button {
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  min-height: 50px;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  width: 100%;
}

.popup__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.popup_is-on {
  display: flex;
}
