.page {
  background-color: #000;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 200px;
}

.header {
  margin: 45px 0 40px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
}

.header__logo {
  width: 142px;
  height: 33px;
}

.profile {
  margin: 0 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test {
  display: flex;
}

.profile__info {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: flex-start;
  align-items: center;
  grid-template-areas:
    "name edit-button"
    "about about";
  height: 70px;
  align-self: center;
  margin-left: 30px;
  row-gap: 16px;
  box-sizing: border-box;
}

.profile__avatar {
  border-radius: 50%;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  margin: 0;
  padding: 0;
  grid-area: name;
  height: 39px;
}

.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  grid-area: about;
  height: 18px;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0;
  margin: 0 0 0 18px;
  grid-area: edit-button;
  align-self: flex-end;
}

.profile__add-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  padding: 0;
  margin: 0;
}

.elements {
  margin-bottom: 67px;
}

.elements__table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 17px;
  row-gap: 20px;
  padding: 0;
  list-style: none;
}

.elements__card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.elements__undercut {
  display: flex;
  padding: 25px 15px 31px 21px;
  justify-content: space-between;
  align-items: center;
  height: 23px;
}

.elements__card-heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000;
  margin: 0;
}

.elements__card-button {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 22px;
  height: 19px;
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: rgba(84, 84, 84, 1);
}
